.u-section-1 .u-sheet-1 {
  min-height: 2008px;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 253px;
  transform-origin: center top 0px;
  position: absolute;
  height: 1673px;
  right: 560px;
}

.u-section-1 .u-shape-1 {
  width: 614px;
  height: 228px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  width: 197px;
  height: 197px;
  margin: -219px auto 0 288px;
}

.u-section-1 .u-text-1 {
  font-family: BMJUA_ttf2;
  font-size: 1.5rem;
  margin: -147px 274px 0 499px;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 193px auto 0 262px;
}

.u-section-1 .u-shape-2 {
  width: 490px;
  height: 975px;
  background-image: none;
  margin: 62px auto 0 62px;
}

.u-section-1 .u-shape-3 {
  width: 490px;
  height: 975px;
  background-image: none;
  margin: -975px 45px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 373px;
  height: 584px;
  margin: -955px auto 0 121px;
}

.u-section-1 .u-text-2 {
  font-family: BMJUA_ttf2;
  margin: 14px 631px 0 142px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 238px auto 60px 62px;
  padding: 9px 195px 11px 194px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-1 .u-line-1 {
    height: 1342px;
    right: 467px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -212px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -153px;
    margin-right: 227px;
    margin-left: 470px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 182px;
    margin-left: 163px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 30px;
    margin-left: -34px;
  }

  .u-section-1 .u-shape-3 {
    width: 404px;
    margin-right: 49px;
  }

  .u-section-1 .u-image-3 {
    width: 409px;
    height: 657px;
    margin-top: -963px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 573px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 162px;
    margin-left: -34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -220px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -145px;
    margin-right: 228px;
    margin-left: 360px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 107px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 992px;
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 490px;
    margin-top: 102px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-3 {
    width: 457px;
    height: 733px;
    margin-top: -953px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 86px;
    margin-left: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 171px;
    margin-left: 173px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -975px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-3 {
    height: 734px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 131px;
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 132px;
    margin-top: -150px;
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -178px;
    margin-right: 93px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 135px;
  }

  .u-section-1 .u-shape-2 {
    height: 719px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 513px;
    width: 319px;
    margin-top: -691px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 120px;
    padding-left: 119px;
    margin: 58px 0 60px;
  }
}@font-face {
  font-family: 'BMJUA_ttf2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BMJUA_ttf2.ttf);
}