.u-section-1 .u-sheet-1 {
  min-height: 1523px;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 253px;
  transform-origin: center top 0px;
  position: absolute;
  height: 1465px;
  right: 560px;
}

.u-section-1 .u-shape-1 {
  width: 614px;
  height: 228px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  width: 225px;
  height: 225px;
  margin: -228px auto 0 285px;
}

.u-section-1 .u-text-1 {
  font-family: BMJUA_ttf2;
  font-size: 1.5rem;
  margin: -188px 279px 0 494px;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 215px 245px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 90px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -90px auto 0 262px;
}

.u-section-1 .u-shape-2 {
  width: 490px;
  height: 975px;
  background-image: none;
  margin: 62px auto 0 62px;
}

.u-section-1 .u-shape-3 {
  width: 490px;
  height: 975px;
  background-image: none;
  margin: -975px 45px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 330px;
  height: 584px;
  margin: -955px auto 0 142px;
}

.u-section-1 .u-text-2 {
  font-family: BMJUA_ttf2;
  margin: 14px 631px 0 142px;
}

.u-section-1 .u-image-5 {
  width: 424px;
  height: 544px;
  margin: -742px 78px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: BMJUA_ttf2;
  margin: 54px 135px 0 638px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 286px 45px 0 auto;
  padding: 9px 195px 11px 194px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px auto 60px 62px;
  padding: 10px 194px;
}

.u-section-1 .u-shape-4 {
  background-image: none;
}

.u-section-1 .u-text-4 {
  margin: -1760px 1396px 60px -256px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    right: 467px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -150px;
    margin-right: 222px;
    margin-left: 470px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 149px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-shape-2 {
    width: 470px;
    height: 961px;
    margin-top: 26px;
    margin-left: -9px;
  }

  .u-section-1 .u-shape-3 {
    width: 470px;
    height: 961px;
    margin-top: -961px;
    margin-right: -17px;
  }

  .u-section-1 .u-image-4 {
    width: 425px;
    height: 752px;
    margin-top: -942px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 560px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -909px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 221px;
    margin-right: 57px;
    margin-left: 516px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 93px;
    margin-right: -17px;
    padding: 10px 185px 10px 184px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -10px;
    padding-right: 184px;
    padding-left: 184px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    height: 1087px;
    right: 357px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -160px;
    margin-right: 147px;
    margin-left: 347px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 90px;
    margin-right: 123px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -93px;
    margin-left: 126px;
  }

  .u-section-1 .u-shape-2 {
    width: 359px;
    height: 820px;
    margin-top: 7px;
    margin-left: -12px;
  }

  .u-section-1 .u-shape-3 {
    width: 358px;
    height: 820px;
    margin-top: -820px;
    margin-right: -14px;
  }

  .u-section-1 .u-image-4 {
    width: 335px;
    height: 593px;
    margin-top: -802px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 353px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 335px;
    height: 430px;
    margin-top: -750px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 176px;
    margin-right: -32px;
    margin-left: 385px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 122px;
    margin-right: -14px;
    padding: 9px 128px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -12px;
    padding-right: 129px;
    padding-left: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    right: 267px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -225px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -181px;
    margin-right: 74px;
    margin-left: 270px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 149px;
    margin-right: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -90px;
    margin-left: 58px;
  }

  .u-section-1 .u-shape-2 {
    width: 225px;
    height: 424px;
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 225px;
    height: 424px;
    margin-top: -424px;
    margin-right: 7px;
  }

  .u-section-1 .u-image-4 {
    width: 199px;
    height: 353px;
    margin-top: -411px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
    margin-right: 173px;
  }

  .u-section-1 .u-image-5 {
    width: 196px;
    height: 252px;
    margin-top: -549px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 160px;
    margin-right: -50px;
    margin-left: 313px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 62px;
    margin-right: 0;
    padding: 10px 66px 10px 64px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 62px;
    padding-left: 61px;
  }

  .u-section-1 .u-shape-4 {
    width: 640px;
    height: 169px;
    margin: 301px -50px 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -125px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 118px;
    height: 118px;
    margin-top: -182px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -97px;
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1212px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -1131px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 876px;
    margin-top: -118px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    height: 705px;
    margin-top: 134px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    width: 302px;
    height: 534px;
    margin-top: -1572px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-5 {
    width: 307px;
    height: 394px;
    margin-top: 359px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-right: 146px;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-left: 0;
    padding-right: 119px;
    padding-bottom: 11px;
    padding-left: 119px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -888px;
    margin-right: 0;
    margin-bottom: 60px;
    padding-right: 120px;
    padding-left: 119px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 63px;
  }
}@font-face {
  font-family: 'BMJUA_ttf2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BMJUA_ttf2.ttf);
}